<div class="row justify-content-center">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Administrator</th>
      </tr>
    </thead>
    <tbody>
      <% User.all.each do |user| %>
        <tr>
          <td><%= user.username %> </td>
          <td><%= user.email %></td>
          <td><%= user.admin %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
