<div class="row">

  <% Destination.all.order('name asc').each do |destination| %>

    <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
      <div class="container">
        <img class="img-fluid" src="<%=destination.cover_url %>">
        <div class="text-block">
          <h4><%= link_to destination.name, "/destinations/#{destination.id}" %></h4>
        </div>      
      </div>
    </div>
  <% end %>

</div>
