<div class="row">

  <% Destination.all.order('name asc').each do |destination| %>

    <div class="col-lg-4 text-center">
      <div class="container destination">
        <img class="img-fluid destination" src="<%=destination.cover_url %>">
        <div class="text-block">
          <h4 class="destination"><%= link_to destination.name, "/destinations/#{destination.id}" %></h4>
        </div>
      </div>
    </div>
  <% end %>

</div>
