<h3>Add a New Category</h3>

<div class="row">
  <div class="col-lg-6">

    <%= form_tag "/categories" do %>
      <p>Name: <input name="name" type="text" autofocus class="form-control"></p>
      <button class="btn btn-success">Submit</button>
    <% end %>

  </div>
</div>
